img{
  width:1.5em;
  height:1.5em;
}
.my-modal{
  width: 40%
}
.material-symbols-outlined{
  font-size:2.5em
}
.inline-icon{
  font-size: 1em;
  color: #432EAB
}
.close-button{
  text-decoration:none;
}
.card--container{
  min-height: 50vh;
}